:root {
    --accent-color: #2196F3;
    --logo-color: #2196F3;
    --header-color: #FFFFFF;
    --header-logo-color: #000000;
    --footer-logo-color: #FFFFFF;
    --body-text-color: #757575;
    --main-color: #212121;
    --banner-color: #2F303A;
    --second-background: #F5F4FA;
    --portfolio-first-btn-background: #F5F4FA;
    --portfolio-second-btn-background: #2196F3;
    --title-to-content-marging: 50px;
    --typical-padding: 32px;
    --padding-in-container: 94px;
}